@model BryantUniversity.ViewModels.TranscriptViewModel
    
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Transcript", FormMethod.Post, new { @class = "pure-form pure-form-aligned", id = "" }))
{
    @Html.AntiForgeryToken()

    <h1>MY GRADES</h1>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.PeriodId, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.PeriodId, Model.PeriodList, "Period", new { @class = "form-control", id = "period-list" })
            @Html.ValidationMessageFor(model => model.PeriodId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr lass="bench-row">
            <th>Course Title</th>
            <th>CRN</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.AllClasses != null)
        {
            foreach (var classes in Model.AllClasses)
            {
            <tr>
                <td>@classes.CourseSection.Course.CourseTitle</td>
                <td>@classes.CourseSection.Course.Id</td>
            </tr>
            }
        }
        <tr>Term GPA: @Model.TermGpa</tr>
    </tbody>
</table>