@model BryantUniversity.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            
        </div>
        <div class="col-sm">
            <h1>Add a course</h1>
        </div>
        <div class="col-md-5">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">


            @using (Html.BeginForm("Create", "Courses", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <div class="pure-controls">
                        @if(Model.SameTitleId)
                        {
                            <h5>A course with this ID already exists</h5>
                        }
                        @Html.LabelFor(model => model.CourseTitleId)
                        @Html.EditorFor(model => model.CourseTitleId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseTitleId, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-controls">
                        @Html.LabelFor(model => model.CourseTitle)
                        @Html.EditorFor(model => model.CourseTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-controls">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-controls">
                        @Html.LabelFor(model => model.Credits)
                        @Html.EditorFor(model => model.Credits, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-controls">
                        @Html.LabelFor(model => model.CourseLevelId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.CourseLevelId, Model.CourseLevelList, "Course Level", new { @class = "form-control required", id = "period-list" })
                        @Html.ValidationMessageFor(model => model.CourseLevelId)
                    </div>
                    <div class="pure-controls">

                        @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, "Period", new { @class = "form-control required", id = "period-list" })
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                    <div class="pure-controls">
                        @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-danger" })
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>