@model BryantUniversity.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<link rel="stylesheet" type="text/css" href="~/styles/scrollablemenu.css" />

<div class="container">
    <div class="row">
        <div class="col-sm">

            @using (Html.BeginForm("Edit", "Courses", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <fieldset>
                    <div id="getCourseId" data-course-id="@Model.Id">

                    </div>

                    <div class="pure-control-group">
                        @Html.LabelFor(model => model.CourseTitle)
                        @Html.EditorFor(model => model.CourseTitle)
                        @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-control-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "pure-form-message-inline" })
                    </div>

                    <div class="pure-controls">
                        @Html.LabelFor(model => model.Credits)
                        @Html.EditorFor(model => model.Credits)
                        @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "pure-form-message-inline" })
                    </div>
                    <div class="pure-controls">
                        @Html.LabelFor(model => model.Level)
                        @Html.EditorFor(model => model.Level) Is active
                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "pure-form-message-inline" })
                    </div>
                    <div class="pure-controls">
                        @Html.ActionLink("Cancel", "Index", new { }, new { @class = "pure-button" })
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            }
        </div>
        @*<div id="tableContainer" class="col-sm">
            <table id="TeachersTable" class="table table-striped table-bordered table-sm " cellspacing="0"
                   width="100">
                <thead>
                    <tr>
                        <th class="th-sm">ID</th>
                        <th class="th-sm">Name</th>
                        <th class="th-sm">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="dropdown" id="SemPeriodDiv">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="semPeriodButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Semester Period
                </button>
                <div class="dropdown-menu" id="SemPeriodOptions" aria-labelledby="dropdownMenuButton">


                </div>
            </div>
            <div class="dropdown" id="PatternDiv">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPatternButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Class Pattern
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">MonWed</a>
                    <a class="dropdown-item" href="#">TueThurs</a>

                </div>
            </div>
            <div class="dropdown" id="TimeDiv">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownTimeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Time
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">9:40AM-11:10AM</a>
                    <a class="dropdown-item" href="#">11:20AM-12:50PM</a>
                    <a class="dropdown-item" href="#">1:00PM-:2:00PM</a>
                    <a class="dropdown-item" href="#">3:50PM-:5:20PM</a>
                    <a class="dropdown-item" href="#">5:30PM-6:50PM</a>
                    <a class="dropdown-item" href="#">7:10PM-:8:30PM</a>

                </div>
            </div>
            <div class="dropdown" id="BuildingDiv">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownBuildingButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Building
                </button>
                <div class="dropdown-menu" id="BuildingOptions" aria-labelledby="dropdownMenuButton">

                </div>
            </div>

            <div class="dropdown" id="RoomDiv">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownRoomButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Room
                </button>
                <div class="dropdown-menu" id="RoomOptions" aria-labelledby="dropdownRoom">

                </div>
            </div>
            @*<label for="appt">Choose a time for the Class: </label>

                <input type="time" id="appt" name="appt"
                       min="09:00" max="18:00" required>*@
        @*</div>*@
    </div>
</div>


@*<script src="~/scripts/course.js"></script>*@
