@model BryantUniversity.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">
            <h2>All Courses</h2>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form mt-0">
                <input id="myInput" class="form-control" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-sm">
            <p>
                @Html.ActionLink("create a course", "Create", new { }, new { @class = "btn btn-success" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr lass="bench-row">
                        <th>CRN</th>
                        <th>Course ID</th>
                        <th>Course Title</th>
                        <th>Description</th>
                        <th>Credits</th>
                        <th>Level</th>
                        <th>Department</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var course in Model.Courses)
                    {
                        <tr>
                            <td>@course.Id</td>
                            <td>@course.CourseTitleId</td>
                            <td>@course.CourseTitle</td>
                            <td>@course.Description</td>
                            <td>@course.Credits</td>
                            <td>@course.CourseLevel.Level.Value</td>
                            <td>@course.Department.Name</td>
                            <td>
                                @Html.ActionLink("edit", "Edit", new { id = course.Id }, new { @class = "btn btn-primary" })
                            </td>
                            <td>
                                @Html.ActionLink("assign", "Assign", new { id = course.Id }, new { @class = "btn btn-info" })
                            </td>
                            <td>
                                @Html.ActionLink("delete", "Delete", new { id = course.Id }, new { @class = "btn btn-danger" })
                            </td>
                            @*<td>
                                @Html.ActionLink("Manage Prerequisites", "Prereq", new { courseId = course.Id }, new { @class = "btn btn-warning" })
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>