@model IList<BryantUniversity.Models.CourseSection>

@{
    ViewBag.Title = "IndexCourse";
}


<h2>Index Course</h2>


@if(Model[0].SemesterPeriod.StartEnrollmentDate > DateTime.Now)
{
    <h2>Enrollment date has not opened</h2>
} else if (Model[0].SemesterPeriod.EndEnrollmentDate < DateTime.Now)
{
    <h2>Enrollment date has closed</h2>
}


<table class="pure-table pure-table-horizontal">
    <thead>
        <tr lass="bench-row">
            <th>Course Section</th>
            <th>Course Title</th>
            <th>Credits</th>
            <th>Days</th>
            <th>Level</th>
            <th>Professor</th>
            <th>Room Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var courseSection in Model)
            {
            <tr>
                <td>@courseSection.Id</td>
                <td>@courseSection.Course.CourseTitle</td>
                <td>@courseSection.Course.Credits</td>
                <td>@courseSection.ClassDays.Pattern.Value</td>
                <td>@courseSection.Course.Level</td>
                <td>@courseSection.Professor.Name</td>
                <td>@courseSection.Room.Id</td>
                @if(courseSection.SemesterPeriod.StartEnrollmentDate > DateTime.Now || courseSection.SemesterPeriod.EndDate < DateTime.Now)
                {
                    <td>
                        @Html.ActionLink("Register", "Add", "Registration", new { id = courseSection.Id }, new { @class = "btn btn-success disabled" })
                    </td>
                } else {
                    <td>
                        @Html.ActionLink("Register", "Add", "Registration", new { id = courseSection.Id }, new { @class = "btn btn-success" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>