@model IList<BryantUniversity.ViewModels.SectionRegistrationViewModel>

@{
    ViewBag.Title = "IndexCourse";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            @if (Model[0].IsPreviousSemesterConflict)
            {
                <h5> You can no longer register for this semester </h5>
            }
            else if (Model[0].IsFullTime)
            {
                <h5> Same class error </h5>
            }
            else if (Model[0].UnderGradTryGrad)
            {
                <h5>Time conflict error</h5>
            }
            else if (Model[0].HasTakenPrereq)
            {
                <h5>Please contact Admin to remove Hold</h5>
            }
            else if (Model[0].SpaceLeftInRoom)
            {
                <h5>You have not taken the required PreRequistes</h5>
            }
            else if (Model[0].HasHold)
            {

                <h5>There are no longer seats available</h5>
            }
            else if (Model[0].SameClass)
            {
                <h5>Part-Time students can only register for two classes at a time</h5>
            }
            else if (Model[0].TimeConflict)
            {
                <h5>You need to be a Graduate level student in order to register for this class</h5>
            }

        </div>
        <div class="col-md-6">
            @if(Model[0].Section.SemesterPeriod.StartEnrollmentDate > DateTime.Now)
            {
                <h2>Enrollment has not yet opened</h2>
            } else if (Model[0].Section.SemesterPeriod.EndEnrollmentDate < DateTime.Now)
            {
                <h2>Enrollment date has closed</h2>
            }
        </div>
        <div class="col-sm">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr lass="bench-row">
                    <th>Course Section</th>
                    <th>Course Title</th>
                    <th>Credits</th>
                    <th>Duration</th>
                    <th>Days</th>
                    <th>Level</th>
                    <th>Professor</th>
                    <th>Room Number</th>
                    <th>Remaining Seats</th>
                    <th>Total Seats</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var courseSection in Model)
                {
                    <tr>
                        <td>@courseSection.Section.Id</td>
                        <td>@courseSection.Section.Course.CourseTitle</td>
                        <td>@courseSection.Section.Course.Credits</td>
                        <td>@courseSection.Section.ClassDuration.TimeForClass.Value</td>
                        <td>@courseSection.Section.ClassDays.Pattern.Value</td>
                        <td>@courseSection.Section.Course.CourseLevel.Level.Value</td>
                        <td>@courseSection.Section.Professor.Name</td>
                        <td>@courseSection.Section.Room.Id</td>
                        <td>@courseSection.SeatsRemaining</td>
                        <td>@courseSection.Section.Room.RoomCapacity</td>
                        @if ((User).IsInRole("4"))
                        {
                            if (false)
                            {
                                <td>
                                    <button type="button" disabled class="btn btn-danger">Register</button>
                                </td>
                            }
                            else if (Model[0].Section.SemesterPeriod.StartEnrollmentDate < DateTime.Now)
                            {
                                <td>
                                    @using (Html.BeginForm("Add", "Registration", new { id = courseSection.Section.Id, semesterPeriodId = courseSection.Section.SemesterPeriodId  }, FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
                                    {
                                        <div class="row">
                                            <div class="col-sm">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                            <div class="col-sm">
                                            </div>

                                            <div class="col-md-5">
                                            </div>
                                        </div>
                                    }
                                </td>
                            }
                        }
                                
                            </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

