@model IList<BryantUniversity.ViewModels.SectionRegistrationViewModel>

@{
    ViewBag.Title = "IndexCourse";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-sm">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr lass="bench-row">
                    <th>Course Section</th>
                    <th>Course Title</th>
                    <th>Credits</th>
                    <th>Duration</th>
                    <th>Days</th>
                    <th>Level</th>
                    <th>Professor</th>
                    <th>Room Number</th>
                    <th>Remaining Seats</th>
                    <th>Total Seats</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var courseSection in Model)
                {
                    <tr>
                        <td>@courseSection.Section.Id</td>
                        <td>@courseSection.Section.Course.CourseTitle</td>
                        <td>@courseSection.Section.Course.Credits</td>
                        <td>@courseSection.Section.ClassDuration.TimeForClass.Value</td>
                        <td>@courseSection.Section.ClassDays.Pattern.Value</td>
                        <td>@courseSection.Section.Course.CourseLevel.Level.Value</td>
                        <td>@courseSection.Section.Professor.Name</td>
                        <td>@courseSection.Section.Room.Id</td>
                        <td>@courseSection.SeatsRemaining</td>
                        <td>@courseSection.Section.Room.RoomCapacity</td>
                        <td>
                            @Html.ActionLink("Register", "AdminAdd", "Registration", new { studentId = Model[0].StudentId, coursectionId = courseSection.Section.Id }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

