@model IList<BryantUniversity.ViewModels.SectionRegistrationViewModel>

@{
    ViewBag.Title = "IndexCourse";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-sm">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            @if (Model[0].IsPreviousSemesterConflict)
            {
                <h5> You can no longer register for this semester </h5>
            }
            else if (Model[0].PartTimeTryFullTime)
            {
                <h5> Part-Time Students Can Only Take Up-To 2 Classes Per Semester</h5>
            }
            else if (Model[0].UnderGradTryGrad)
            {
                <h5>This is a Graduate Level Course</h5>
            }
            else if (Model[0].HasNotTakenPrereq)
            {
                <h5>You have not taken the Prerequisites</h5>
            }
            else if (Model[0].SpaceLeftInRoom)
            {
                <h5>There are no longer seats available</h5>
            }
            else if (Model[0].HasHold)
            {
                <h5>Please Contact Admin To Remove Hold</h5>

            }
            else if (Model[0].SameClass)
            {
                <h5>You Are Already Registered To This Course</h5>
            }
            else if (Model[0].TimeConflict)
            {
                <h5>You Are Registered TO Another Course At This Time</h5>
            }
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr lass="bench-row">
                    <th>Course Section</th>
                    <th>Course Title</th>
                    <th>Credits</th>
                    <th>Duration</th>
                    <th>Days</th>
                    <th>Level</th>
                    <th>Professor</th>
                    <th>Room Number</th>
                    <th>Remaining Seats</th>
                    <th>Total Seats</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var courseSection in Model)
                {
                    <tr>
                        <td>@courseSection.Section.Id</td>
                        <td>@courseSection.Section.Course.CourseTitle</td>
                        <td>@courseSection.Section.Course.Credits</td>
                        <td>@courseSection.Section.ClassDuration.TimeForClass.Value</td>
                        <td>@courseSection.Section.ClassDays.Pattern.Value</td>
                        <td>@courseSection.Section.Course.CourseLevel.Level.Value</td>
                        <td>@courseSection.Section.Professor.Name</td>
                        <td>@courseSection.Section.Room.Id</td>
                        <td>@courseSection.SeatsRemaining</td>
                        <td>@courseSection.Section.Room.RoomCapacity</td>
                        <td>
                            @using (Html.BeginForm("AdminAdd", "Registration", new { studentId = courseSection.StudentId, coursectionId = courseSection.Section.Id }, FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
                            {
                                <div>

                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            }                       
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

