<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        /* Modify the background color */

        .navbar-custom {
            background-color: mediumpurple
        }
            /* Modify brand and text color */

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: black;
            }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Academic Calendar", "Calendar", "Homepage", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Course Catalog", "Catalog", "Homepage", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Current Schedule", "Schedule", "Homepage", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="navbar-text navbar-right">
                            <span>Welcome @(((BryantUniversity.Security.CustomPrincipal)User).Identity.Name)! </span>
                        </div>
                    }
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <img class="navbar-brand mx-auto" src="~/Resources/KobePic.png" style="width:188px;height:128px" href="#"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>*@
                <li class="nav-item">
                    <div class="col">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                            {
                                <button class="btn btn-link navbar-brand" type="submit">Log Out</button>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Log In", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
      
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  
  </body>
</html>