<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        /* Modify the background color */

        .navbar-custom {
            background-color: #552583;
            margin-top: 0;
        }
            /* Modify brand and text color */

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #fdb927;
            font-size: 15px;
            font-weight: bold;
        }

        /*#username::after{
            content: url(../../Resources/KobePic2.png);
        }*/

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("1"))
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Users", "Create", "Faculty", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Courses", "Create", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Manage Holds", "Create", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Students", "Index", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Course Catalog", "Index", "CourseCatalog", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Current Schedule", "Schedule", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                }
               
            </ul>
        </div>
        <div class="mx-auto order-0">
            <img class="navbar-brand mx-auto" src="~/Resources/KobePic.png" style="width:188px;height:128px" href="#"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="navbar-text navbar-right" id="username">
                            <span>Welcome @(((BryantUniversity.Security.CustomPrincipal)User).User.Name)! </span>
                        </div>
                    }
                </div>
                </li>
                <li class="nav-item">
                    <div class="col">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                            {
                                <button class="btn navbar-brand" type="submit">Log Out</button>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Log In", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mamba University</p>
        </footer>
    </div>
      
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  
  </body>
</html>