<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/55da878918.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/styles/layout.css" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-custom">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100 order-1 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("1"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Master Schedule", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Users", "Index", "Faculty", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Manage Holds", "Index", "Holds", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @*<li class="nav-item">
                            @Html.ActionLink("Students", "Index", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                        </li>*@
                }
                else if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("2"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "nav-link" })
                    </li>



                    <li class="nav-item">
                        @Html.ActionLink("Teaching", "Teaching", "Faculty", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if ((Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("4")))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Register", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>


                    <li class="nav-item">
                        @Html.ActionLink("Majors", "Majors", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Catalog", "Catalog", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Schedule", "Schedule", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if ((Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("3")))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Master Schedule", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Academic Calendar", "Index", "Calendar", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="mx-auto max-auto">
                <img src="~/Resources/mugold.png" style="width:100px; height:80px;" href="#" />
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("4"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Drop Course", "Drop", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("View Hold", "ViewHold", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Advisors", "Advisors", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>


                    <li class="nav-item">
                        @Html.ActionLink("Academics", "Grades", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Degree Audit", "DegreeAudit", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Transcript", "Transcript", "Student", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("2"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Majors", "Majors", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Advising", "Advising", "Faculty", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("1"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Semesters", "Index", "SemesterPeriod", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Majors", "Majors", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Catalog", "Catalog", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("All Advisements", "Index", "Advisement", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if (Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("1"))
                {

                    <li class="nav-item">
                        @Html.ActionLink("Majors", "Majors", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Master Schedule", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                else if ((Request.IsAuthenticated && ((BryantUniversity.Security.CustomPrincipal)User).IsInRole("3")))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Statistics ", "StudentStasitics", "Researcher", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Master Schedule", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Courses", "Index", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Master Schedule", "Index", "Schedule", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Catalog", "Catalog", "Courses", new { area = "" }, new { @class = "nav-link" })
                    </li>

                }

                <li class="nav-item">
                    <div>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="navbar-text navbar-right" id="username">
                                <span style="color:white">Welcome @(((BryantUniversity.Security.CustomPrincipal)User).User.Name)! </span>
                            </div>
                        }
                    </div>
                </li>
                <li class="nav-item ">

                    @if (Request.IsAuthenticated)
                    {

                        using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                        {
                            <button class="btn btn-danger rounded-pill" type="submit">Log Out</button>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Log In", "Login", "Account", new { area = "" }, new { @class = "btn btn-success rounded-pill" })
                    }

                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark ">

            <!-- Footer Links -->
            <div class="container">
                <div class="row">
                    <div class="col">

                        <!-- Content -->
                        <img src="~/Resources/mambaheader.png" style="width:inherit; height:inherit" />
                        <p>
                            <br />Gigi Towers
                            <br />8-24 Mamba Drive
                            <br />Bryant, CA 02824
                            <br />(111) 222-3333
                            <br /> <a href="#" class="fa fa-facebook"> </a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-instagram"></a> <a href="#" class="fa fa-youtube"></a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col">
                        <ul class="list-unstyled links">
                            <li>
                                <a href="#!">Contact</a>
                            </li>
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Jobs & Careers</a>
                            </li>
                            <li>
                                <a href="#!">Policies</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 copyright">
                © 2020 Copyright: Mamba University
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>

    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>