@model BryantUniversity.ViewModels.DegreeAuditViewModel
@{
    ViewBag.Title = "Transcript";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Major:</h1><h3>@Model.StudentMajor.Major.Title</h3>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Course Id</th>
                        <th>Title</th>
                        <th>Credits</th>
                        <th>Grade</th>
                        <th>Semester</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var courses in Model.AllCourses)
                    {
                        <tr>
                            <td>@courses.Registration.CourseSection.Course.CourseTitleId</td>
                            <td>@courses.Registration.CourseSection.Course.CourseTitle</td>
                            <td>@courses.Registration.CourseSection.Course.Credits</td>
                            @if (courses.LetterGradeId == null)
                            {
                                <td>
                                    Pending
                                </td>
                            }
                            else
                            {
                                <td>
                                    @courses.LetterGrade.GradeVal.Value
                                </td>
                            }
                            <td>@courses.Registration.CourseSection.SemesterPeriod.Period.Value</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-sm">

        </div>
    </div>


    <div class="row">
        <div class="col-sm">
            <h1>Major Requirments:</h1><h3>@Model.StudentMajor.Major.Title</h3>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Course Id</th>
                        <th>Title</th>
                        <th>Credits</th>
                        <th>Prerequiste</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="myTable">

                    @foreach (var majorRequirements in Model.MajorRequirements)
                    {
                        <tr>
                            <td>@majorRequirements.Course.CourseTitleId</td>
                            <td>@majorRequirements.Course.CourseTitle</td>
                            <td>@majorRequirements.Course.Credits</td>

                            @if (majorRequirements.Course.CourseMajorPreRequisites != null)
                            {
                                var prereqList = majorRequirements.Course.CourseMajorPreRequisites;

                                for (int i = 0; i < prereqList.Count; i++)
                                {
                                    if (prereqList[i] != null)
                                    {
                                        if (prereqList[i].PreReq != null)
                                        {
                                            <td>@prereqList[i].PreReq.CourseTitleId</td>
                                        }
                                        else
                                        {
                                            <td></td>

                                        }
                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
