@model BryantUniversity.ViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Details";
}



<h2>Index Course</h2>


@*@if(Model[0].SemesterPeriod.StartEnrollmentDate > DateTime.Now)
    {
        <h2>Enrollment date has not opened</h2>
    } else if (Model[0].SemesterPeriod.EndEnrollmentDate < DateTime.Now)
    {
        <h2>Enrollment date has closed</h2>
    }*@


<table class="table">
    <thead class="thead-dark">
        <tr lass="bench-row">
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td>@Model.Student.Name</td>
                <td>@Model.Student.Email</td>
                <td>@Model.Student.PhoneNumber</td>
                <td>@Html.ActionLink("Schedule", "ScheduleAdmin", "Student", new { studentId = Model.Student.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Register a Course", "Schedule", "Student", new { id = Model.Student.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Degree Audit", "DegreeAuditAdmin", "Student", new { studentId = Model.Student.Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Transcript", "TranscriptAdmin", "Student", new { id = Model.Student.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Grades", "Gradebook", "Student", new { id = Model.Student.Id }, new { @class = "btn btn-danger" })</td>
                <td>@Html.ActionLink("Attendance", "Attendancebook", "Student", new { id = Model.Student.Id }, new { @class = "btn btn-info" })</td>
            </tr>
    </tbody>
</table>