@model BryantUniversity.ViewModels.DropViewModel

@{
    ViewBag.Title = "Schedule";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md-5">

            <h1>SCHEDULE</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr lass="bench-row">
                        <th>Course Title</th>
                        <th>Course Time</th>
                        <th>Days</th>
                        <th>Professor</th>
                        <th>Building</th>
                        <th>Room Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.NonGraded != null)
                    {
                        foreach (var reigstered in Model.NonGraded)
                        {
                            <tr>
                                <td>@reigstered.CourseSection.Course.CourseTitle</td>
                                <td>@reigstered.CourseSection.ClassDuration.TimeForClass.Value</td>
                                <td>@reigstered.CourseSection.ClassDays.Pattern.Value</td>
                                <td>@reigstered.CourseSection.Professor.Name</td>
                                <td>@reigstered.CourseSection.Room.Building.BuildingName</td>
                                <td>@reigstered.CourseSection.Room.Id</td>
                                <td>
                                    <div id="removeContainer">
                                        <button type="button" data-course-section-id="@reigstered.CourseSection.Id" class="btn btn-danger">Drop</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>

<script src="~/scripts/DropSection.js"></script>
