@model BryantUniversity.ViewModels.GradesViewModel

@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">
            @using (Html.BeginForm("Grades", "Student", FormMethod.Post, new { @class = "pure-form pure-form-aligned", id = "" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PeriodId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.PeriodId, Model.PeriodList, "Period", new { @class = "form-control", id = "period-list" })
                        @Html.ValidationMessageFor(model => model.PeriodId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            }
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>MY GRADES</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr lass="bench-row">
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Grades != null)
                    {
                        if (Model.Grades.Count > 0)
                        {
                            foreach (var course in Model.Grades)
                            {
                            <tr>
                                <td>@course.Registration.CourseSection.Course.CourseTitle</td>
                                <td>@course.LetterGrade.GradeVal.Value</td>
                            </tr>
                            }
                        }
                    }
                    @if (Model.RegisteredClasses != null)
                    {
                        if (Model.RegisteredClasses.Count > 0 && Model.Grades.Count == 0)
                        {
                            foreach (var course in Model.RegisteredClasses)
                            {
                            <tr>
                                <td>@course.CourseSection.Course.CourseTitle</td>
                                <td>Pending</td>

                            </tr>
                            }
                            @Html.ActionLink("Drop a course", "Drop", "Student", new {}, new { @class = "btn btn-info" })

                        }
                    }
                    
                    <tr>Term GPA: @Model.Gpa</tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>