@model BryantUniversity.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create a course", "Create", new { }, new { @class = "pure-button pure-button-primary" })
</p>

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr lass="bench-row">
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model.Users)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                

                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = student.Id })
                </td>

            </tr>
        }
    </tbody>
</table>



