@model BryantUniversity.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "Transcript";
}

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-md-6">
            <h3>Transcript</h3>
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h1>Major: @Model.StudentMajor.Major.Title</h1>

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Course Id</th>
                        <th>Title</th>
                        <th>Credits</th>
                        <th>Grade</th>
                        <th>Semester</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var gradeRegistration in Model.AllGradesClasses)
                    {
                        <tr>
                            <td>@gradeRegistration.Registration.CourseSection.Course.CourseTitleId</td>
                            <td>@gradeRegistration.Registration.CourseSection.Course.CourseTitle</td>
                            <td>@gradeRegistration.Registration.CourseSection.Course.Credits</td>
                            @if (gradeRegistration.LetterGrade.GradeVal == null)
                            {
                                <td>
                                    Pending
                                </td>
                            }
                            else
                            {
                                <td>
                                    @gradeRegistration.LetterGrade.GradeVal.Value
                                </td>
                            }
                            <td>@gradeRegistration.Registration.CourseSection.SemesterPeriod.Period.Value</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>