@model BryantUniversity.ViewModels.AssignGradeViewModel

@{
    ViewBag.Title = "Assign";
}
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            Assign final grade
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">

        </div>
        
            <div class="col-sm">

            </div>
        </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Student</th>
                        <th>Course Name</th>
                    </tr>
                </thead>
                <tbody id="myTable">

                    <tr>
   
                        <td>@Model.Student.Name</td>
                        <td>@Model.Section.Course.CourseTitleId</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-sm">
            @using (Html.BeginForm("AssignGrade", "Grades", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
            {
                <div class="row">
                    <div class="col-sm">
                        @Html.LabelFor(model => model.LetterGradeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.LetterGradeId, Model.GradeList, "Grade", new { @class = "form-control required", id = "grades-list" })
                        @Html.ValidationMessageFor(model => model.LetterGradeId)
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    <div class="col-sm">
                        @Html.HiddenFor(model => model.Section)
                    </div>

                    <div class="col-md-5">
                    </div>
                </div>
            }
        </div>
        </div>
    </div>