@model BryantUniversity.ViewModels.AssignGradeViewModel

@{
    ViewBag.Title = "Assign";
}

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            Assign final grade
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div id="container">
                    <div id="form">
                        <div id="label">
                            @Html.LabelFor(m => m.TextBoxData, new { Style = "color:black;" })
                            @Html.EditorFor(model => model.TextBoxData, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TextBoxData, "", new { @class = "pure-form-message-inline" })
                        </div>
                        <div>
                            <button type="submit" id="submit" class="btn btn-success btn-lg">Assign</button>
                        </div>
                    </div>
                </div>
            }
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>