@model BryantUniversity.ViewModels.SemesterDetailsViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">
            <h2>Select Term</h2>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    @if (!Model.DisplayCourses)
    {
        <div class="row">
            @using (Html.BeginForm("Index", "Schedule", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
            {
                <div>
                    <div class="col-sm">
                        @Html.AntiForgeryToken()
                        <div>

                            @Html.LabelFor(model => model.PeriodId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.PeriodId, Model.PeriodList, "Period", new { @class = "form-control required", id = "period-list" })
                            @Html.ValidationMessageFor(model => model.PeriodId)
                        </div>
                    </div>
                    <div class="col-sm">
                        <div>
                            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, "Department", new { @class = "form-control required", id = "department-list" })
                            @Html.ValidationMessageFor(model => model.DepartmentId)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            }
        </div>
    }
    else if(Model.DisplayCourses)
    {
        <div class="row">
            <div class="col-md-5">
                <h1>Test</h1>
            </div>
        </div>
    }





</div>



<script src="~/scripts/Schedule.js"></script>

