@model IList<BryantUniversity.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>My Schedule</h2>

<table>
    <tr>
        <th>Level</th>
        <th>Course Name</th>
        <th>Description</th>
        <th>Department Name</th>
        <th>Professor</th>
        <th>Room</th>
        <th>Building</th>
        <th>Time</th>
        <th>Semester</th>
        <th>Credits</th>
    </tr>

    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.CourseSection.Course.Level</td>
                <td>@schedule.CourseSection.Course.CourseTitle</td>
                <td>@schedule.CourseSection.Course.Description</td>
                <td>@schedule.CourseSection.Course.Department.Name</td>
                <td>@schedule.CourseSection.Professor.Name</td>
                <td>@schedule.CourseSection.Room.RoomType</td>

                <td>@schedule.CourseSection.Pattern</td>
                <td>@schedule.CourseSection.SemesterPeriod.Period.Value</td>
                <td>@schedule.CourseSection.Course.Credits</td>
            </tr>
        }
    </tbody>
</table>