@model BryantUniversity.ViewModels.SemesterDetailsViewModel
@{
    ViewBag.Title = "Calendar";
}
@using (Html.BeginForm("Index", "Calendar", FormMethod.Post, new { @class = "pure-form pure-form-aligned", id = "" }))
{

<div class="row">

        @Html.AntiForgeryToken()
        <div class="col">
            <div style=15px;>
                @Html.LabelFor(model => model.PeriodId, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.PeriodId, Model.PeriodList, "Period", new { @class = "form-control", id = "period-list" })
                @Html.ValidationMessageFor(model => model.PeriodId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    
</div>
}
<div class="row">
    <div class="col">
        <div id="tableContainer">
            <table id="list" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Academic Event</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var calEvent in Model.CalendarEvents)
                    {
                        <tr>
                            <td>@calEvent.Date</td>
                            <td>@calEvent.EventDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
